REACT_APP_FIREBASE_API_KEY=AIzaSyAU1_cmnoHaA1Tc7oPbMo3I0dKBajaXO-s
REACT_APP_FIREBASE_AUTH_DOMAIN=guidewire-bf099.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=guidewire-bf099
REACT_APP_BACKEND_URL=http://localhost:4000

import { initializeApp } from "firebase/app";
import { getAuth } from "firebase/auth";
import { getFirestore } from "firebase/firestore";

const firebaseConfig = {
  apiKey: process.env.REACT_APP_FIREBASE_API_KEY,
  authDomain: process.env.REACT_APP_FIREBASE_AUTH_DOMAIN,
  projectId: process.env.REACT_APP_FIREBASE_PROJECT_ID,
};

// initialize app once
const app = initializeApp(firebaseConfig);
export const auth = getAuth(app);
export const db = getFirestore(app);
export default app;